body {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding: 17px 0 17px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #545862;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.boxy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
    box-sizing: border-box;
    border-radius: 3px;
    height: fit-content;
    width: 40%;
}

form {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.description {
    outline: none;
    border: none;
    padding: 20px 0 20px 20px;
    width: 100%;
    font-style: italic;
    font-size: 15px;
    color: #7a7575;
}

ul {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

li {
    display: flex;
    list-style: none;
    padding: 20px 0 20px 20px;
    margin-left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

i {
    margin-right: 1em;
    color: rgb(130, 127, 127);
}

.clear-completed {
    background-color: transparent;
    margin: 1rem auto;
    padding-top: 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: black;
    opacity: .5;
}

.clear-completed:hover {
    text-decoration: underline;
}

.clear {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 230, 230);
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
}

.list-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    cursor: text;
    font-size: 14px;
    color: #7a7575;
}

.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checker {
    margin-right: 15px;
}